body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #000000; /* 연한 파랑색 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form h1 {
    margin-bottom: 1rem;
    text-align: center;
}

.login-form label {
    margin-bottom: 0.5rem;
}

.login-form input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-form .signup-btn {
    margin-top: 0.5rem;
    background-color: #4CAF50;
    color: white;
}

.oauth-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
}

.oauth-btn {
    width: 50px; /* 원하는 크기로 설정 */
    cursor: pointer;
    border: none;
    background: none;
    display: block;
    margin: 0 auto;
}
